# Environment files
*.env
deploy.sh
.DS_Store

# Package directories
node_modules/
*.tgz

# Build directories
html/
__pycache__/

# Development / temporary files
private.key
selfsigned.crt

# Database Migration files
migrations/
alembic.ini

# Editor directories
.vscode/