# Environment files
*.env
deploy.sh
.DS_Store

# Package directories
node_modules/
*.tgz

# Build directories
html/
__pycache__/

# Development / temporary files
private.key
selfsigned.crt

# Database Migration files (not all of them, due to modifications)
migrations/versions/*
# We want to keep this so the directory exists.
!migrations/versions/__init__.py
migrations/README

# Editor directories
.vscode/