# Environment files
*.env
deploy.sh

# Package directories
node_modules/
*.tgz

# Build directories
html/
__pycache__/

# Development / temporary files
private.key
selfsigned.crt

# Database Migration files
alembic.ini
migrations/