@import "theming";

.login-container {
    width: 400px;
	height: 600px;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 24px;
	background: #000;
    color: #FFF;
	opacity: 0.8;

    form {
        display: inline-block;
        width: 100%;
    }

    input[type=text], 
    input[type=password] {
        width: 380px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: transparent;
        border-style: none;
        border-bottom: 1px solid #111;
        color: #888;
    }:focus {
        border-bottom: 1px solid #004;
    }

    input[type=submit] {
        width: 380px;
        height: 40px;
        color: #FFF;
        margin-bottom: 5px;
        background-color: #004;
        border-style: none;
    }

    button[type=recoverbtn] {
        height: 70px;
        border-style: none;
        width: 100%;
        opacity: 0.9;
        font-size: 24px;
        margin-bottom: 0px;
        background-color: #111;
        color: #FFF;
    }

    header {
	    padding-top: 20px;
        a {
            font-size: 30px;
            display: block;
            text-align: center;

        }
    }

    button.signup-toggle {
        height: 35px;
        border-style: none;
        width: 100%;
        opacity: 0.9;
        font-size: 12px;
        margin-bottom: 277px;
        background-color: transparent;
        color: #FFF;
    }

    .third-party {
        display: grid;

        p {
            justify-self: center;
        }

        .icons {
            display: flex;
            justify-content: space-around;

        }
    }
}

@media screen and (max-width: 600px) {

    .login-container  {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;

        form {
            margin-left: 0px;
            margin-right: 0px;

        }
        input[type=submit] {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }

        input[type=text], 
        input[type=password] {
            width: 98%;
            margin-left: 1%;
            margin-right: 1%;
        }
    }
}