.copyright {
    justify-content: center;
    font-size: 14px;
    color: #eee;
    text-align: center;
    background-color: #444;
    height: 300px;
    vertical-align: middle;
}

.copyright p {
    padding-top: 100px;
    font-family: 'Titillium Web', latin;
}