@import "fonts";
@import "theming";

body {
    font-family: 'Red Hat Display', sans-serif;
    @include themify {
        background-color: themed("backgroundColor");
        color: themed("textColor");
    }
}